/*
Nick Rodriguez
22 March 2013

stylesheet
*/

body {
	font-family: Monospace;
	background-color: #000;
	color: #fff;
	margin: 0px;
	overflow: hidden;
}

#toolbarButton {
  position: absolute;
  background-color: #000;
  opacity: .8;
	color: #fff;
	width: 100%;
	text-align: center;
  box-shadow: 0px 0px 5px 0px #808080;
  visibility: visible;
  z-index: 2;
}

#toolbarButton:hover {
  background-color: #212121;
}

#toolbar {
  background-color: #212121;
  opacity: .8;
	color: #fff;
	position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
	top: 15px;
	width: 200px;
  padding: 5px;
	text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 0px 5px 0px #808080;
  z-index: 1;
}